<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto en playground</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/c37d1d262f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo-search">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo-mercadoliebre"></a>
            </div>
            <div class="search-bar">

                <input type="text" placeholder="Buscar producto, marcas">
                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <div class="titulo-cuotas-header">
                <i class="fa-solid fa-hand-holding-dollar"></i><span> Comprá en cuotas y sin tarjeta de crédito</span>
            </div>
        </div>

        </div>
        <div class="titulo-cuotas-nav">
            <i class="fa-solid fa-hand-holding-dollar"></i><span> Comprá en cuotas y sin tarjeta de crédito</span>
        </div>
        <div class="nav-options-container">
            <ul class="nav-options">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="nav-options1">
                <li><a href="/register">Creá tu cuenta </a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        <div class="burger-container">
            <div class="burger-menu">
                <i class="fa-sharp fa-solid fa-bars"></i>
            </div>
        </div>

        <img src="/images/img-home-banner.jpg" class="imagen-banner-superior">
    </header>
    <main>
        <form action="" method="" class="form-nuevo-usuario">

            <input type="text" name="nombre" placeholder="Nombre y Apellido" minlength="3" required>
            <input type="text" name="usuario" placeholder="Nombre de Usuario">
            <input type="email" name="email" placeholder="E-mail">
            <h2>Fecha de nacimiento</h2>
            <input type="date" name="nacimiento">
            <input type="text" name="domicilio" placeholder="Domicilio">
            <h2>Perfil de comprador</h2>
            <div class="perfil-comprador">
                <label>
                    <input type="radio" name="perfil">Comprador</label>
                <label>
                    <input type="radio" name="perfil">Vendedor</label>
            </div>
            <div class="form-intereses">
                <h2>Intereses</h2>
                <div class="intereses">
                    <input type="checkbox" name="Electro"><label for="">Electro</label>
                </div>
                <div class="intereses">
                    <input type="checkbox" name="Moda"><label for="">Moda</label>
                </div>
                <div class="intereses">
                    <input type="checkbox" name="Hogar"><label for="">Hogar</label>
                </div>
                <div class="intereses">
                    <input type="checkbox" name="Jugueteria"><label for="">Juguetería</label>
                </div>
                <div class="intereses">
                    <input type="checkbox" name="Vida Sana"><label for="">Salud</label>
                </div>
                
            </div>
            <label>SUBÍ TU FOTO DE USUARIO</label>
                <input type="file" name="avatar" id="" accept=".jpg">
            <input type="password" name="password" id="" placeholder="Contraseña">
            <input type="password" name="password" id="" placeholder="Confirmar Contraseña">
            <div class="button-register">
            <button onclick="location.href='/'" type="button">
                ENVIAR</button>
                <button onclick="location.href='/register'" type="button">
                    BORRAR</button>
                </div>
        </form>



    </main>

    <footer>
        <section>

            <div class="seccion-inferior">
                <div class="seccion-inferior-items">
                    <i class="fa-solid fa-credit-card"></i><br>
                    <strong>Pagá con tarjeta o en efectivo
                    </strong>
                    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </div>
                <div class="seccion-inferior-items">
                    <i class="fa-solid fa-gift"></i>
                    <strong>
                        <p></p>Envío gratis desde los $2500</p>
                    </strong>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="seccion-inferior-items">
                    <i class="fa-solid fa-user-shield"></i>
                    <strong>
                        <p></p>Seguridad, de principio a fin</p>
                    </strong>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div><br>
            </div>
            <div class="texto-final">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

        </section>

    </footer>



</body>

</html>